<template>
    <v-container>
        <h1>Booj Lead Routing</h1>
        <v-divider></v-divider>
        <v-img src="https://www.booj.com/uploads/images/booj-Sign-Header.jpg"></v-img>
        <v-divider></v-divider>
        <p>Welcome to Booj's lead routing service!<p>
        <p>This utility allows you to view and troubleshoot leads as they come into the Booj system. Leads are routed both to internal and external services via a predefined flow called a blueprint.</p>
        <p v-if="loggedIn">To learn more about this system please see the documentation linked below.</p>
        <p v-if="!loggedIn">To learn more about this system please reach out to Booj.</p>
    </v-container>
</template>

<script>
    export default {
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        }
    }
</script>
