<template>
    <v-container>
        <h1 class="display-2">Blueprints</h1>
        <v-divider></v-divider>
        <v-card>
            <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="blueprints"
                :search="search"
            >
                <template v-slot:item.uuid="{ item }">
                        <router-link :to="'blueprints/' + item.uuid">{{item.uuid}}</router-link>
                </template>
                <template v-slot:item.is_active="{ item }">
                    <v-chip :color="getActiveColor(item.is_active)" dark>{{ getActiveText(item.is_active) }}</v-chip>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {
                search: ''
            }
        },
        methods: {
            getActiveColor (is_active) {
                if (is_active > 0) return 'green';
                else if (is_active == null) return 'orange';
                else return 'red';
            },
            getActiveText (is_active) {
                if (is_active > 0) return 'Active';
                else if (is_active == null) return 'Unknown';
                else return 'Inactive';
            },
        },
        computed: {
            blueprints() {
                return this.$store.getters.getBlueprints
            },
            headers() {
                return this.$store.getters.getHeaders
            }
        },
        created() {
            this.$store.dispatch('fetchBlueprints');
        }
    }
</script>
