<template>
    <v-container fluid fill-height class="pa-0 ma-0">

        <v-navigation-drawer
            app
            clipped
            :mini-variant.sync="mini"
            permanent
        >
            <v-list-item class="px-2 mt-3">
                <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
                </v-list-item-avatar>

                <v-list-item-title>John Doe</v-list-item-title>

                <v-btn icon @click.stop="mini = !mini">
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list shaped>
                <v-list-item-group v-model="activeTab" color="primary">
                    <v-list-item v-for="(tab, i) in tabs" :key="i" @click="activeTab=i">
                        <v-list-item-icon>
                            <v-icon v-text="tab.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="tab.text"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

        <v-container fluid fill-height>
            <blueprint-info v-if="activeTab===0" :blueprint="blueprint"></blueprint-info>
            <blueprint-diagram v-else-if="activeTab===1" :blueprint="blueprint"></blueprint-diagram>
            <blueprint-testing v-else-if="activeTab===2" :blueprint="blueprint"></blueprint-testing>
            <blueprint-permissions v-else-if="activeTab===3" :blueprint="blueprint"></blueprint-permissions>
        </v-container>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                mini: false,
                activeTab: 0,
                tabs: [
                    {text: 'Blueprint Info', icon: 'mdi-card-bulleted-outline'},
                    {text: 'Flow Diagram', icon: 'mdi-file-tree'},
                    {text: 'Testing', icon: 'mdi-flag'},
                    {text: 'My Permissions', icon: 'mdi-account'},
                ],
            }
        },
        computed: {
            blueprint() {
                return this.$store.getters.getBlueprint
            },
        },
        created() {
            this.$store.dispatch('fetchBlueprint', this.$route.params.uuid);
        }
    };
</script>
