<template>
    <v-container fluid fill-height>
        <v-card class="pa-5" height="100%" width="100%">
            <h2>{{blueprint.name}}</h2>
            <div id="diagram"></div>
        </v-card>

    </v-container>
</template>

<script>
    export default {
        props: ['blueprint'],
        mounted() {
            let graph = new joint.dia.Graph;

            let paper = new joint.dia.Paper({
                el: $('#diagram'),
                width: '100%',
                height: '100%',
                model: graph,
                gridSize: 1
            });

            let rect = new joint.shapes.basic.Rect({
                position: {x: 100, y: 30},
                size: {width: 100, height: 30},
                attrs: {rect: {fill: '#1876D2'}, text: {text: 'Node', fill: 'white'}}
            });

            let rect2 = rect.clone();
            let rect3 = rect.clone();

            rect2.translate(300);
            rect3.translate(300, 200);

            let link = new joint.dia.Link({
                source: {id: rect.id},
                target: {id: rect2.id}
            });

            let link2 = new joint.dia.Link({
                source: {id: rect.id},
                target: {id: rect3.id}
            });

            graph.addCells([rect, rect2, rect3, link, link2]);
        }
    }
</script>
