<template>
    <v-container fluid fill-height>
        <v-card class="pa-5" height="100%" width="100%">
            <h2>{{blueprint.name}}</h2>
            <v-list>
                <v-list-item
                    v-for="(field, key) in blueprint"
                    :key="key"
                >
                    <span class="font-weight-bold mr-3">{{key}}:</span>
                    <span>{{field}}</span>
                </v-list-item>
            </v-list>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        props: ['blueprint'],
    }
</script>
