<template>
    <v-container>
        <v-layout wrap>
            <v-flex sm12 md6 offset-md3>
                <v-card elevation="4" light tag="section">
                    <v-card-title>
                        <v-img src="https://associated-realty.com/wp-content/uploads/2019/08/booj1.png" max-height="75" contain></v-img>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <p>Sign in with your username and password:</p>
<!--                        @todo form validation and error response to 401 here-->
                        <v-form>
                            <v-text-field
                                outline
                                label="Username"
                                type="text"
                                v-model="username"
                            >
                            </v-text-field>
                            <v-text-field
                                outline
                                hide-details
                                label="Password"
                                type="password"
                                v-model="password"
                            >
                            </v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="pa-5">
<!--                        @todo hook this up to Laravel's password reset functionality-->
<!--                        <v-btn color="info" flat>-->
<!--                            Forgot password?-->
<!--                        </v-btn>-->
                        <v-spacer></v-spacer>
                        <v-btn @click="login" color="info">
                            <v-icon left>mdi-lock</v-icon>
                            <span>Login</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: 'login',
        data() {
            return {
                username: '',
                password: '',
            }
        },
        methods: {
            login() {
                this.$store.dispatch('fetchToken', {
                    username: this.username,
                    password: this.password,
                }).then(() => {
                    this.$router.push({name: 'home'})
                })
            }
        }
    }
</script>
