<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "App",
    }
</script>
