<template>
    <nav>
        <v-app-bar color="#BE151C" dark app clipped-left>
            <v-app-bar-nav-icon @click.stop="mini = !mini">
                <v-img src="http://www.booj.com/img/booj-flame.png" height="25" contain></v-img>

            </v-app-bar-nav-icon>
            <v-toolbar-title class="pr-10">Booj Leads</v-toolbar-title>
            <v-toolbar-items>
                <v-btn v-for="item in items"
                       :key="item.title"
                       :to="item.route"
                       text
                       dark
                >
                    <span>{{ item.title }}</span>
                </v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>


            <v-btn v-if="loggedIn" color="white" text to="logout">
                <span>Logout</span>
                <v-icon>mdi-logout</v-icon>
            </v-btn>
            <v-btn v-if="!loggedIn" color="white" text to="login">
                <span>Login</span>
                <v-icon>mdi-login</v-icon>
            </v-btn>
        </v-app-bar>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                drawer: true,
                items: [
                    {title: 'Home', icon: 'mdi-home-city', route: '/'},
                    {title: 'Blueprints', icon: 'mdi-account', route: '/blueprints'},
                    {title: 'Events', icon: 'mdi-account-group-outline', route: '/events'},
                    {title: 'Leads', icon: 'mdi-account-group-outline', route: '/leads'},
                    {title: 'Nodes', icon: 'mdi-account-group-outline', route: '/nodes'},
                ],
                mini: false,
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        }
    }
</script>
